# Copy this file to .env and adjust values for your environment.
# Do not commit your real .env file.

# generate-videos.sh
YEAR_START=2011
YEAR_END=2023

# generate-and-publish-daily-g2g.sh
SOURCE_S3_PREFIX=s3://source-g2g-data-bucket
DEST_S3_PREFIX=s3://dest-g2g-data-bucket
SOURCE_AWS_PROFILE=aws-source-profile
DEST_AWS_PROFILE=aws-dest-profile

# Optional
KEEP_LOCAL=false
